apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tggrid

commonLabels:
  platform: gke
  environment: production

resources:
  - ../base-deployment.yaml

patchesStrategicMerge:
  - ingress-patch.yaml

configMapGenerator:
  - name: tggrid-config
    behavior: merge
    literals:
      - PLATFORM=gke
      - KUBERNETES_PROVIDER=gcp

secretGenerator:
  - name: tggrid-secrets
    behavior: merge
    envs:
      - secrets.env

images:
  - name: tggrid/main-app
    newTag: latest
    newName: gcr.io/YOUR_PROJECT_ID/tggrid/main-app
  - name: tggrid/browser-pool
    newTag: latest
    newName: gcr.io/YOUR_PROJECT_ID/tggrid/browser-pool
  - name: tggrid/websocket-service
    newTag: latest
    newName: gcr.io/YOUR_PROJECT_ID/tggrid/websocket-service

patchesJson6902:
  - target:
      group: storage.k8s.io
      version: v1
      kind: StorageClass
    patch: |-
      - op: replace
        path: /provisioner
        value: pd.csi.storage.gke.io
      - op: add
        path: /parameters
        value:
          type: pd-standard
          replication-type: regional-pd

  - target:
      group: apps
      version: v1
      kind: Deployment
      name: browser-pool
    patch: |-
      - op: add
        path: /spec/template/spec/nodeSelector
        value:
          cloud.google.com/gke-nodepool: browser-pool
